.button {
  background-color: black;
  color: #c2c2c2;
  height: 66%;
  width: 10%;
  font-size: 150%;
  border-radius: 10px;
  margin: auto 20px auto 0;
  transition-delay: 100ms;
  &:hover {
    cursor: pointer;
    background-color: #c2c2c2;
    color: black;
    border: transparent;
  }
}
