:focus,
:hover,
:active,
:visited {
  outline: none;
}

header {
  overflow-x: hidden;
  width: 100%;
}
@media screen and (min-width: 1301px) {
  .topHeader {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    height: 40px;
    margin: 0 auto;
    background-color: white;

    nav {
      display: flex;
    }
  }
  .headerContacts {
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-self: center;
    width: 100%;

    p {
      font-size: 80%;
      color: #636662;
    }

    h4 {
      span {
        text-decoration: none;
        color: #d22730;
        font-weight: 900;

        &:hover {
          color: #009246;
          transition-delay: 180ms;
        }
      }
    }
  }
  .topNavigationUL {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: auto 10%;
    height: 30px;
    max-width: fit-content;
  }

  .login {
    margin-left: 33%;
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100%;
    width: 100%;

    button {
      padding: 8px 12px;
      font-size: 12px;
      background-color: #d22730;
      color: white;
      border: none;
      border-radius: 10px;
      height: 80%;
      width: 80%;
      margin: auto 0px auto 15px;
      cursor: pointer;

      &:hover {
        background-color: #009246;
        transition-delay: 180ms;
      }

      .personSVG {
        height: 70%;
        margin: 0 2px 0 0;
        fill: white;
      }
    }

    .heartSVG {
      display: inline-block;
      height: 40%;
      margin: auto 8px auto 0;
      cursor: pointer;
      color: #212721;

      &:hover {
        color: #d22730;
      }
    }
  }
  .bottomHeader {
    padding: 0 15px;
    height: 66px;
    margin: 0 auto;
    width: 80%;
    background-color: #f5faf2;
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
      max-width: 180px;
      max-height: 42px;
    }
  }
  .bottomHeaderUL {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    list-style: none;
    width: 70%;
    align-self: flex-end;
  }

  .basket {
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: fit-content;

    img {
      width: 50%;
    }
  }
  .burgerMenuIcon {
    display: none;
  }

  .basketCount {
    position: relative;
    right: 21%;
    top: -5px;
    width: 20px;
    background-color: #d22730;
    color: white;
    border: none;
    border-radius: 100%;
    padding: 3px;
  }
}

@media screen and (min-width: 1920px) {
}

@media screen and (max-width: 1300px) {
  header {
    display: flex;
    flex-direction: column-reverse;
  }
  .topHeader {
    position: absolute;
    top: 72px;
    left: 2%;
    right: 2%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 80%;
    padding: 0 15px;
    min-height: fit-content;
    margin: 0 auto;
    background-color: #f5faf2;
    border-radius: 15px;
    transition: all 600ms linear;
    transform: translateX(0);
    overflow-x: hidden;

    nav {
      display: flex;
      order: 1;
    }
  }

  .topHeaderSmallHidden {
    transform: translateX(120%);
  }
  .headerContacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    align-self: center;
    margin: 20px auto 15px auto;
    order: 3;
    p {
      font-size: 100%;
      color: #636662;
    }

    h4 {
      span {
        text-decoration: none;
        color: #d22730;
        font-weight: 900;
        font-size: 110%;

        &:hover {
          color: #009246;
          transition-delay: 180ms;
        }
      }
    }
  }
  .topNavigationUL {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    align-self: center;
    margin: 15px auto;
    width: 100%;
  }

  .login {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 60px;
    width: 150px;
    position: absolute;
    left: 70%;
    top: 0;

    button {
      padding: 8px 12px;
      font-size: 12px;
      border: none;
      background-color: transparent;
      border-radius: 10px;
      height: 80%;
      width: 80%;
      margin: auto 0;
      cursor: pointer;
      span {
        margin-left: 5px;
        text-align: center;
        vertical-align: top;
        font-size: 160%;
        display: inline-block;
      }
      &:hover {
        background-color: #009246;
        transition-delay: 180ms;
      }

      .personSVG {
        height: 70%;
        margin: 0 2px 0 0;
      }
    }

    .heartSVG {
      display: inline-block;
      height: 40%;
      margin: auto 8px auto 0;
      cursor: pointer;
      color: #212721;
      &:hover {
        color: #d22730;
      }
    }
  }
  .bottomHeader {
    position: fixed;
    top: 0;
    left: 2%;
    right: 2%;
    padding: 0 15px;
    height: 66px;
    margin: 0 auto;
    width: 80%;
    background-color: #f5faf2;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      max-width: 180px;
      max-height: 42px;
    }
  }
  .bottomHeaderUL {
    position: fixed;
    top: 66px;
    margin: 0 auto;
    display: flex;
    left: 2%;
    right: 2%;
    justify-content: space-between;
    align-items: flex-end;
    list-style: none;
    padding: 0 16px;
    width: 80%;
    height: 40px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 4px 5px lightgrey;
    transition: all 400ms linear;
    transform: translateY(0%);
    opacity: 1;
  }

  .bottomHeaderULHidden {
    transform: translateY(-100%);
    border: none;
    box-shadow: none;
    z-index: -1;
    opacity: 0;
  }
  .basket {
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: fit-content;

    span {
      display: none;
    }
    img {
      width: 50%;
    }
  }
  .burgerMenuIcon {
    display: flex;
    justify-content: space-around;
    background-color: transparent;
    border: none;
    align-items: center;
    flex-direction: column;
    width: 20px;
    height: 24px;
    div {
      width: 100%;
      height: 15%;
      background-color: black;
    }
  }
  .basketCount {
    position: relative;
    right: 21%;
    top: -5px;
    width: 20px;
    background-color: #d22730;
    color: white;
    border: none;
    border-radius: 100%;
    padding: 3px;
  }
}
